*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.carousel-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}
img{
    width: 100%;
}

.carousel-slide{
    display: flex;
    width: 100%;
}

.slider-image {
    height: 200px;
    width: 250px;
    padding-left: 15px;
}

#prev-button{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#next-button{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.presentation{
    padding: 20px;
    margin: 5px;
    font-size: larger;
}